body {
    min-height: 2000px;
    padding-top: 70px;
}

.page{padding:20px;max-width:1000px}@media (min-width: 768px)
{.page{margin-left:0px}}
.page .page-title h1,.page .page-title h2,.page .page-title h3,.page .page-title h4,.page .page-title h5,.page .page-title h6{padding-top:0;margin-top:0}
.page .block{margin-bottom:20px}

.block-gallery{display:flex;flex-wrap:wrap;align-items:flex-start;margin-left:-10px;margin-right:-10px}
.page .block-gallery .artwork{padding-left:10px;padding-right:10px;margin-bottom:20px;position:relative}@media (min-width: 768px)
{.page .block-gallery .artwork{width:50%}}@media (min-width: 992px)
{.page .block-gallery .artwork{width:25%}}
.page .block-gallery .artwork:hover .album-grid-item-overlay{opacity:1}
.page .block-gallery .album-grid-item-overlay{opacity:0;position:absolute;top:0;left:10px;right:10px;height:100%;width:95%;background:linear-gradient(to bottom, rgba(34,34,34,0), rgba(34,34,34,0.7));transition:opacity .3s linear}
.page .block-gallery .album-grid-item-overlay-inner{position:absolute;padding:21px 32px;bottom:0;left:0;width:100%}
.page .block-gallery .album-grid-item-name{font-size:1.2rem;font-weight:600;color:#fff;line-height:1.5rem}
.noBorder {
    border: 0 !important;
    padding: 8px;
    display: block;
    border: none;
    width: 100%
}

.gallery-container .mosaic {
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative
}

.gallery-container .mosaic .project {
    position: absolute;
    background: url(/assets/placeholders/asset/small_square-e4a05f5e223d58a254761007b87e41fe.png);
    background-size: cover
}

.gallery-container .mosaic .project img {
    width: 100%;
    height: 100%
}

.gallery-container .mosaic .project:hover {
    z-index: 9
}

.gallery-container .mosaic .project:hover .project-info,
.gallery-container .mosaic .project:hover .overlay {
    visibility: visible
}

.gallery-container .mosaic .overlay {
    position: absolute;
    z-index: 2;
    visibility: hidden
}

.gallery-container .mosaic .project-info {
    position: absolute;
    left: 100%;
    bottom: 0;
    border: solid 1px #13aff0;
    background-color: #222;
    margin-left: -7px;
    width: 250px;
    color: #c8c8c8;
    visibility: hidden;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.gallery-container .mosaic .project-info:after {
    content: '';
    display: block;
    position: absolute;
    left: -11px;
    bottom: 45%;
    width: 20px;
    height: 20px;
    border-left: solid 1px #13aff0;
    border-bottom: solid 1px #13aff0;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
    z-index: 1
}

.gallery-container .mosaic .project-info.right {
    left: auto;
    right: 100%;
    margin: 0 0 0 -7px
}

.gallery-container .mosaic .project-info.right:after {
    left: auto;
    right: -11px;
    box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.3);
    border: 0;
    border-right: solid 1px #13aff0;
    border-top: solid 1px #13aff0
}

.gallery-container .mosaic .project-info.top {
    top: auto;
    bottom: 100%;
    left: 50%;
    margin-left: -125px
}

.gallery-container .mosaic .project-info.top:after {
    left: 50%;
    right: auto;
    bottom: -11px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border: 0;
    border-right: solid 1px #13aff0;
    border-bottom: solid 1px #13aff0
}

.gallery-container .mosaic .project-info.bottom {
    top: 100%;
    bottom: auto;
    left: 50%;
    margin-left: -125px
}

.gallery-container .mosaic .project-info.bottom:after {
    left: 50%;
    right: auto;
    top: -11px;
    box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.3);
    border: 0;
    border-left: solid 1px #13aff0;
    border-top: solid 1px #13aff0
}

.gallery-container .mosaic .project-info.top-left {
    bottom: 100%;
    margin: 0;
    left: 0;
    right: auto
}

.gallery-container .mosaic .project-info.top-left:after {
    left: 10px;
    right: auto;
    bottom: -11px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border: 0;
    border-right: solid 1px #13aff0;
    border-bottom: solid 1px #13aff0
}

.gallery-container .mosaic .project-info.top-right {
    right: 0;
    margin: 0;
    left: auto;
    bottom: 100%
}

.gallery-container .mosaic .project-info.top-right:after {
    left: auto;
    right: 10px;
    bottom: -11px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border: 0;
    border-right: solid 1px #13aff0;
    border-bottom: solid 1px #13aff0
}

.gallery-container .mosaic .project-info.bottom-left {
    top: 100%;
    bottom: auto;
    margin: 0;
    left: 0;
    right: auto
}

.gallery-container .mosaic .project-info.bottom-left:after {
    left: 10px;
    right: auto;
    top: -11px;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
    border: 0;
    border-left: solid 1px #13aff0;
    border-top: solid 1px #13aff0
}

.gallery-container .mosaic .project-info.bottom-right {
    top: 100%;
    bottom: auto;
    margin: 0;
    right: 0;
    left: auto
}

.gallery-container .mosaic .project-info.bottom-right:after {
    left: auto;
    right: 10px;
    top: -11px;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
    border: 0;
    border-left: solid 1px #13aff0;
    border-top: solid 1px #13aff0
}

.gallery-container .mosaic .project-info h4,
.gallery-container .mosaic .project-info .product-price {
    color: #fff;
    margin-top: 0;
    position: relative;
    z-index: 2
}

.gallery-container .mosaic .project-info .info {
    margin-top: 10px
}

.gallery-container .mosaic .project-info .info>* {
    display: inline-block;
    max-width: 50%;
    white-space: nowrap
}



.gallery-container .gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.gallery-container .gallery .project {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
    position: relative;
    background: url(/assets/placeholders/asset/small_square-e4a05f5e223d58a254761007b87e41fe.png);
    background-size: cover
}

@media (min-width: 640px) {
    .gallery-container .gallery .project {
        width: 33.333333%
    }
}

@media (min-width: 768px) {
    .gallery-container .gallery .project {
        width: 25%
    }
}

@media (min-width: 992px) {
    .gallery-container .gallery .project {
        width: 25%
    }
}

@media (min-width: 1200px) {
    .gallery-container .gallery .project {
        width: 20%
    }
}

@media (min-width: 1680px) {
    .gallery-container .gallery .project {
        width: 16.666667%
    }
}

@media (min-width: 1920px) {
    .gallery-container .gallery .project {
        width: 14.285714286%
    }
}

@media (min-width: 2200px) {
    .gallery-container .gallery .project {
        width: 12.5%
    }
}

@media (min-width: 2560px) {
    .gallery-container .gallery .project {
        width: 10%
    }
}

@media (min-width: 3000px) {
    .gallery-container .gallery .project {
        width: 8.33333333333333%
    }
}

.gallery-container .gallery .project:before {
    content: "";
    display: block;
    margin-top: 100%
}

.gallery-container .gallery .project.small,
.gallery-container .gallery .discussion-post .discussion-post-user .project.headline,
.discussion-post .discussion-post-user .gallery-container .gallery .project.headline,
.gallery-container .gallery .discussion-post .discussion-post-user .project.location,
.discussion-post .discussion-post-user .gallery-container .gallery .project.location,
.gallery-container .gallery .discussion-post .discussion-post-body .post-user-mobile .user-info .project.headline,
.discussion-post .discussion-post-body .post-user-mobile .user-info .gallery-container .gallery .project.headline {
    width: 33.33333333%
}

@media (min-width: 640px) {
    .gallery-container .gallery .project.small,
    .gallery-container .gallery .discussion-post .discussion-post-user .project.headline,
    .discussion-post .discussion-post-user .gallery-container .gallery .project.headline,
    .gallery-container .gallery .discussion-post .discussion-post-user .project.location,
    .discussion-post .discussion-post-user .gallery-container .gallery .project.location,
    .gallery-container .gallery .discussion-post .discussion-post-body .post-user-mobile .user-info .project.headline,
    .discussion-post .discussion-post-body .post-user-mobile .user-info .gallery-container .gallery .project.headline {
        width: 25%
    }
}

@media (min-width: 768px) {
    .gallery-container .gallery .project.small,
    .gallery-container .gallery .discussion-post .discussion-post-user .project.headline,
    .discussion-post .discussion-post-user .gallery-container .gallery .project.headline,
    .gallery-container .gallery .discussion-post .discussion-post-user .project.location,
    .discussion-post .discussion-post-user .gallery-container .gallery .project.location,
    .gallery-container .gallery .discussion-post .discussion-post-body .post-user-mobile .user-info .project.headline,
    .discussion-post .discussion-post-body .post-user-mobile .user-info .gallery-container .gallery .project.headline {
        width: 25%
    }
}

@media (min-width: 992px) {
    .gallery-container .gallery .project.small,
    .gallery-container .gallery .discussion-post .discussion-post-user .project.headline,
    .discussion-post .discussion-post-user .gallery-container .gallery .project.headline,
    .gallery-container .gallery .discussion-post .discussion-post-user .project.location,
    .discussion-post .discussion-post-user .gallery-container .gallery .project.location,
    .gallery-container .gallery .discussion-post .discussion-post-body .post-user-mobile .user-info .project.headline,
    .discussion-post .discussion-post-body .post-user-mobile .user-info .gallery-container .gallery .project.headline {
        width: 20%
    }
}

@media (min-width: 1200px) {
    .gallery-container .gallery .project.small,
    .gallery-container .gallery .discussion-post .discussion-post-user .project.headline,
    .discussion-post .discussion-post-user .gallery-container .gallery .project.headline,
    .gallery-container .gallery .discussion-post .discussion-post-user .project.location,
    .discussion-post .discussion-post-user .gallery-container .gallery .project.location,
    .gallery-container .gallery .discussion-post .discussion-post-body .post-user-mobile .user-info .project.headline,
    .discussion-post .discussion-post-body .post-user-mobile .user-info .gallery-container .gallery .project.headline {
        width: 16.666667%
    }
}

@media (min-width: 1440px) {
    .gallery-container .gallery .project.small,
    .gallery-container .gallery .discussion-post .discussion-post-user .project.headline,
    .discussion-post .discussion-post-user .gallery-container .gallery .project.headline,
    .gallery-container .gallery .discussion-post .discussion-post-user .project.location,
    .discussion-post .discussion-post-user .gallery-container .gallery .project.location,
    .gallery-container .gallery .discussion-post .discussion-post-body .post-user-mobile .user-info .project.headline,
    .discussion-post .discussion-post-body .post-user-mobile .user-info .gallery-container .gallery .project.headline {
        width: 14.285714286%
    }
}

@media (min-width: 1680px) {
    .gallery-container .gallery .project.small,
    .gallery-container .gallery .discussion-post .discussion-post-user .project.headline,
    .discussion-post .discussion-post-user .gallery-container .gallery .project.headline,
    .gallery-container .gallery .discussion-post .discussion-post-user .project.location,
    .discussion-post .discussion-post-user .gallery-container .gallery .project.location,
    .gallery-container .gallery .discussion-post .discussion-post-body .post-user-mobile .user-info .project.headline,
    .discussion-post .discussion-post-body .post-user-mobile .user-info .gallery-container .gallery .project.headline {
        width: 12.5%
    }
}

@media (min-width: 1920px) {
    .gallery-container .gallery .project.small,
    .gallery-container .gallery .discussion-post .discussion-post-user .project.headline,
    .discussion-post .discussion-post-user .gallery-container .gallery .project.headline,
    .gallery-container .gallery .discussion-post .discussion-post-user .project.location,
    .discussion-post .discussion-post-user .gallery-container .gallery .project.location,
    .gallery-container .gallery .discussion-post .discussion-post-body .post-user-mobile .user-info .project.headline,
    .discussion-post .discussion-post-body .post-user-mobile .user-info .gallery-container .gallery .project.headline {
        width: 11.11111111111111%
    }
}

@media (min-width: 2200px) {
    .gallery-container .gallery .project.small,
    .gallery-container .gallery .discussion-post .discussion-post-user .project.headline,
    .discussion-post .discussion-post-user .gallery-container .gallery .project.headline,
    .gallery-container .gallery .discussion-post .discussion-post-user .project.location,
    .discussion-post .discussion-post-user .gallery-container .gallery .project.location,
    .gallery-container .gallery .discussion-post .discussion-post-body .post-user-mobile .user-info .project.headline,
    .discussion-post .discussion-post-body .post-user-mobile .user-info .gallery-container .gallery .project.headline {
        width: 10%
    }
}

@media (min-width: 2560px) {
    .gallery-container .gallery .project.small,
    .gallery-container .gallery .discussion-post .discussion-post-user .project.headline,
    .discussion-post .discussion-post-user .gallery-container .gallery .project.headline,
    .gallery-container .gallery .discussion-post .discussion-post-user .project.location,
    .discussion-post .discussion-post-user .gallery-container .gallery .project.location,
    .gallery-container .gallery .discussion-post .discussion-post-body .post-user-mobile .user-info .project.headline,
    .discussion-post .discussion-post-body .post-user-mobile .user-info .gallery-container .gallery .project.headline {
        width: 8.33333333333333%
    }
}

@media (min-width: 3000px) {
    .gallery-container .gallery .project.small,
    .gallery-container .gallery .discussion-post .discussion-post-user .project.headline,
    .discussion-post .discussion-post-user .gallery-container .gallery .project.headline,
    .gallery-container .gallery .discussion-post .discussion-post-user .project.location,
    .discussion-post .discussion-post-user .gallery-container .gallery .project.location,
    .gallery-container .gallery .discussion-post .discussion-post-body .post-user-mobile .user-info .project.headline,
    .discussion-post .discussion-post-body .post-user-mobile .user-info .gallery-container .gallery .project.headline {
        width: 7.14285714285714%
    }
}

.gallery-container .gallery .project>a.project-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    overflow: hidden
}

.gallery-container .gallery .project>a.project-image .overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/assets/overlay-no-triangle-d08cca5464a0c1c396503d0075c6961a.png);
    background-position: 100% 100%;
    z-index: 2;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0) scale(1, 1);
    opacity: 0;
    -webkit-transition: opacity ease-in-out 0.25s;
    transition: opacity ease-in-out 0.25s
}

@media (min-width: 992px) {
    .gallery-container .gallery .project>a.project-image .overlay {
        display: block
    }
}

.gallery-container .gallery .project>a.project-image .overlay.visible {
    opacity: 1
}

.gallery-container .gallery .project>a.project-image .overlay .info {
    margin: 15px;
    color: white;
    position: absolute;
    bottom: 0;
    -webkit-font-smoothing: antialiased
}

.gallery-container .gallery .project>a.project-image .overlay .info img.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left
}

.gallery-container .gallery .project>a.project-image .overlay .info .title {
    line-height: 21px;
    font-size: 18px;
    margin-left: 50px;
    font-weight: 300
}

.gallery-container .gallery .project>a.project-image .overlay .info .name {
    line-height: 19px;
    font-size: 12px;
    margin-left: 50px
}

.gallery-container .gallery .project>a.project-image img.image {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0) scale(1, 1)
}

.gallery-container .gallery .project>a.project-image:hover .overlay {
    opacity: 1
}

.gallery-container .gallery .project.small>a .overlay .info img.avatar,
.gallery-container .gallery .discussion-post .discussion-post-user .project.headline>a .overlay .info img.avatar,
.discussion-post .discussion-post-user .gallery-container .gallery .project.headline>a .overlay .info img.avatar,
.gallery-container .gallery .discussion-post .discussion-post-user .project.location>a .overlay .info img.avatar,
.discussion-post .discussion-post-user .gallery-container .gallery .project.location>a .overlay .info img.avatar,
.gallery-container .gallery .discussion-post .discussion-post-body .post-user-mobile .user-info .project.headline>a .overlay .info img.avatar,
.discussion-post .discussion-post-body .post-user-mobile .user-info .gallery-container .gallery .project.headline>a .overlay .info img.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left
}

.gallery-container .gallery .project.small>a .overlay .info .title,
.gallery-container .gallery .discussion-post .discussion-post-user .project.headline>a .overlay .info .title,
.discussion-post .discussion-post-user .gallery-container .gallery .project.headline>a .overlay .info .title,
.gallery-container .gallery .discussion-post .discussion-post-user .project.location>a .overlay .info .title,
.discussion-post .discussion-post-user .gallery-container .gallery .project.location>a .overlay .info .title,
.gallery-container .gallery .discussion-post .discussion-post-body .post-user-mobile .user-info .project.headline>a .overlay .info .title,
.discussion-post .discussion-post-body .post-user-mobile .user-info .gallery-container .gallery .project.headline>a .overlay .info .title {
    line-height: 16px;
    font-size: 14px;
    margin-left: 40px;
    font-weight: normal
}

.gallery-container .gallery .project.small>a .overlay .info .name,
.gallery-container .gallery .discussion-post .discussion-post-user .project.headline>a .overlay .info .name,
.discussion-post .discussion-post-user .gallery-container .gallery .project.headline>a .overlay .info .name,
.gallery-container .gallery .discussion-post .discussion-post-user .project.location>a .overlay .info .name,
.discussion-post .discussion-post-user .gallery-container .gallery .project.location>a .overlay .info .name,
.gallery-container .gallery .discussion-post .discussion-post-body .post-user-mobile .user-info .project.headline>a .overlay .info .name,
.discussion-post .discussion-post-body .post-user-mobile .user-info .gallery-container .gallery .project.headline>a .overlay .info .name {
    line-height: 14px;
    font-size: 10px;
    margin-left: 40px;
    font-weight: normal
}

.gallery-container .gallery .project.small>a .overlay .info.without-avatar .title,
.gallery-container .gallery .discussion-post .discussion-post-user .project.headline>a .overlay .info.without-avatar .title,
.discussion-post .discussion-post-user .gallery-container .gallery .project.headline>a .overlay .info.without-avatar .title,
.gallery-container .gallery .discussion-post .discussion-post-user .project.location>a .overlay .info.without-avatar .title,
.discussion-post .discussion-post-user .gallery-container .gallery .project.location>a .overlay .info.without-avatar .title,
.gallery-container .gallery .discussion-post .discussion-post-body .post-user-mobile .user-info .project.headline>a .overlay .info.without-avatar .title,
.discussion-post .discussion-post-body .post-user-mobile .user-info .gallery-container .gallery .project.headline>a .overlay .info.without-avatar .title {
    margin-left: 0
}

.gallery-container .gallery .project.small>a .overlay .info.without-avatar .name,
.gallery-container .gallery .discussion-post .discussion-post-user .project.headline>a .overlay .info.without-avatar .name,
.discussion-post .discussion-post-user .gallery-container .gallery .project.headline>a .overlay .info.without-avatar .name,
.gallery-container .gallery .discussion-post .discussion-post-user .project.location>a .overlay .info.without-avatar .name,
.discussion-post .discussion-post-user .gallery-container .gallery .project.location>a .overlay .info.without-avatar .name,
.gallery-container .gallery .discussion-post .discussion-post-body .post-user-mobile .user-info .project.headline>a .overlay .info.without-avatar .name,
.discussion-post .discussion-post-body .post-user-mobile .user-info .gallery-container .gallery .project.headline>a .overlay .info.without-avatar .name {
    margin-left: 0
}

@media screen and (max-width: 768px),
only screen and (min-device-width: 768px) and (max-device-width: 1024px),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .gallery-container .mosaic .project .project-info {
        display: none
    }
}

.more-artwork {
    color: #aaaaaa;
    padding-bottom: 40px
}

.more-artwork h4,
.more-artwork .product-price {
    padding: 0 0 1em 0;
    margin: 0;
    color: #f0f0f0
}

.load-more {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    clear: both;
    color: #747474
}

.fast-scroll {
    pointer-events: none;
    -webkit-transform: rotate(0.0001deg);
    -ms-transform: rotate(0.0001deg);
    transform: rotate(0.0001deg)
}

.gallery-container .gallery .icons-list,
.gallery-container .mosaic .icons-list {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #BBB;
    font-size: 0;
    cursor: pointer;
    z-index: 2
}

.gallery-container .gallery .icons-list li,
.gallery-container .mosaic .icons-list li {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    font-size: 14px;
    background-color: rgba(34, 34, 34, 0.8)
}

.gallery-container .gallery .remove,
.gallery-container .mosaic .remove {
    width: 20px;
    height: 20px;
    top: 5px;
    right: 5px;
    position: absolute;
    color: #BBB;
    z-index: 1000
}

.gallery-container .gallery .remove:hover,
.gallery-container .gallery .remove:active,
.gallery-container .mosaic .remove:hover,
.gallery-container .mosaic .remove:active {
    color: #a2a2a2
}